*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
}
form button{
    margin: 5px auto;
}
form #result{
    margin: 20px auto;
    display: none;
}

